.banner__container {
  margin: 53px 0px;
  .banner__column {
    display: flex;
    background: #ffffff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    .banner__row {
      display: flex;
      flex-direction: row;
      width: 50%;
      padding: 35px 40px;
      ._img_random_char {
        position: relative;
        width: 0;
        height: 200px;
        padding-right: 40%;
        margin-right: 45px;
        img{
          height: 200px;
          width: 200px;
        }
      }
      .banner__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // & > * {
        //   margin-bottom: 13px;
        //   &:last-child {
        //     margin-bottom: 0;
        //   }
        // }
        ._title {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 22px;
          line-height: 26px;
          margin-bottom: 13px;
        }
        ._subtitle {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
        }
        ._buttonContainer {
          display: flex;
          flex-direction: row;
          ._button {
            transition: all 0.3s ease;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
            text-transform: uppercase;
            padding: 11px 18px;
            min-width: 101px;
            text-align: center;
            margin-right: 30px;
            clip-path: polygon(
              100% 0,
              100% 69%,
              89% 100%,
              0 100%,
              0 28%,
              10% 0
            );
          }
          .button__red {
            background-color: #9f0013;
            &:hover {
              background-color: #c43243;
            }
          }
          .button__gray {
            background-color: #5c5c5c;
            &:hover {
              background-color: #747474;
            }
          }
        }
      }
    }
    .tryIt_block {
      background-image: url("../../resources/img/hammer.svg");
      background-repeat: no-repeat;
      background-position: 110% 80%;
      background-color: #232222;
      color: #fff;
      .banner__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ._title {
          text-transform: none;
          .tryIt_block_Title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
          }
          h1 {
            margin-bottom: 41px;
          }
        }
        ._buttonContainer {
          margin-top: 13px;
        }
      }
      .banner__bottom__column {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 1050px) {
  .banner__container {
    .banner__column {
      display: flex;
      flex-direction: column;
      .banner__row {
        width: 100%;
        ._img_random_char {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          width: 0;
          height: auto;
          padding-right: 40%;
          margin-right: 35px;
        }
      }
      .tryIt_block {
        background-position: 100% 80%;
        .banner__info {
          width: 100%;
          text-align: center;
          .banner__bottom__column {
            width: 100%;
            text-align: center;
            .banner__bottom__column__info {
              width: 100%;
            }
            ._buttonContainer {
              width: 100%;
              display: flex;
              justify-content: center;
            }
          }
          ._title {
            h1 {
              margin-bottom: 20px;
            }
          }
          ._button {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .banner__container {
    margin: 20px 0px;
    .banner__column {
      .banner__row {
        flex-direction: column;
        ._img_random_char {

          display: none;
        }
      }
      .random_char {
        & > * {
          text-align: center;
        }
        ._buttonContainer {
          width: 100%;
          display: flex;
          justify-content: center;
          ._button {
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .tryIt_block {
        background-size: 150px;
        background-position: 110% 90%;
        .banner__info {
          ._title {
            h1 {
              margin-bottom: 15px;
            }
          }

        }
      }
    }
  }
}
