.charList {
  display: flex;
  flex: 1 1 62%;
  .charList__container {
    display: flex;
    width: 100%;
    // justify-content: column;
    flex-wrap: wrap;
    .char__card {
      flex: 0 0 29%;
      margin: 0 25px 30px 0;
      .char__card__wrapper {
        .char__img {
          height: 200px;
          width: 100%;
          img {
            height: 200px;
            width: 100%;
          }
        }
        .char__name__block {
          background-color: #232222;
          padding: 15px 15px 15px 15px;
          width: 100%;
          min-height: 118px;
          .char__name {
            width: 100%;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
          }
        }
      }
    }

    .button__container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 45px;
      ._button {
        transition: all 0.3s ease;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 11px 18px;
        max-height: 45px;
        min-width: 170px;
        text-align: center;
        clip-path: polygon(100% 0, 100% 69%, 89% 100%, 0 100%, 0 28%, 10% 0);
        &:last-child {
          margin-bottom: 0;
        }
      }
      .button__red {
        background-color: #9f0013;
        &:hover {
          background-color: #c43243;
        }
      }
    }
  }
}

._active {
  transition: all 0.3s ease;
  transform: translate(0px, -10px);
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.55);
}

@media (max-width: 1224px) {
  .charList {
    display: flex;
    flex: 1 1 62%;
    .charList__container {
      display: flex;
      width: 100%;
      // justify-content: column;
      flex-wrap: wrap;
      .char__card {
        flex: 0 0 29%;
        margin: 0 25px 30px 0;
        .char__card__wrapper {
          .char__img {
            height: 200px;
            img {
              height: 200px;
            }
          }
          .char__name__block {
            background-color: #232222;
            padding: 15px 15px 15px 15px;
            min-height: 118px;
            .char__name {
              text-transform: uppercase;
              color: #fff;
              font-weight: 600;
              font-size: 20px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .charList {
    display: flex;
    flex: 1 1 62%;
    .charList__container {
      display: flex;
      width: 100%;
      // justify-content: column;
      flex-wrap: wrap;
      .char__card {
        flex: 0 0 43%;
        margin: 0 25px 30px 0;
        .char__card__wrapper {
          .char__img {
            img {
            }
          }
          .char__name__block {
            background-color: #232222;
            padding: 15px 15px 15px 15px;
            min-height: 118px;
            .char__name {
              text-transform: uppercase;
              color: #fff;
              font-weight: 600;
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 918px) {
  .charList {
    .charList__container {
      width: 100%;
      justify-content: center;
      .char__card {
        margin: 0 25px 15px 0;
        .char__card__wrapper {
          .char__img {
            img {
            }
          }
          .char__name__block {
            padding: 10px 10px 10px 10px;
            min-height: 85px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .charList {
    display: flex;
    flex: 1 1 62%;
    .charList__container {
      display: flex;
      width: 100%;
      // justify-content: column;
      flex-wrap: wrap;
      .char__card {
        flex: 0 0 45%;
        margin: 0 25px 30px 0;
        .char__card__wrapper {
          .char__img {
            img {
            }
          }
          .char__name__block {
            background-color: #232222;
            padding: 15px 15px 15px 15px;
            min-height: 118px;
            .char__name {
              text-transform: uppercase;
              color: #fff;
              font-weight: 600;
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .charList {
    display: flex;
    flex: 1 1 62%;
    .charList__container {
      display: flex;
      width: 100%;
      // justify-content: column;
      flex-wrap: wrap;
      .char__card {
        flex: 0 0 80%;
        margin: 0 0px 30px 0;
        .char__card__wrapper {
          .char__img {
            img {
            }
          }
          .char__name__block {
            background-color: #232222;
            padding: 15px 15px 15px 15px;
            min-height: 118px;
            .char__name {
              text-transform: uppercase;
              color: #fff;
              font-weight: 600;
              font-size: 15px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  ._active {
    transform: none;
  }
}
